<h1 mat-dialog-title style="color:black">Resultados</h1>
<div mat-dialog-content>
  <p style="color:black; font-size:20px">{{data.decripcion}}</p>
  
 
  <p style="color:black">{{data.animal}}</p>
  <img class="d-block w-100" src="./assets/img/animales/{{data.foto}}.jpg" alt="First slide" style="height:200px">
</div>
<div mat-dialog-actions>
  <!-- <button mat-button class="btn " (click)="onNoClick()">Cerrar</button> -->
  <button mat-button class="btn btn-primary" cdkFocusInitial (click)="onNoClick()">Cerrar</button>
</div>
